.modal.fade.bs-example-modal-lg(tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title
          | 建立隊伍
      .modal-body
      .modal-footer
        button.btn.btn-default(type="button" data-dismiss="modal")
          | Close
        button.btn.btn-primary(type="button") Save changes