extends layout

block content
  .container
      .row
        .col-lg-12
          h1.page-header
            | Hackathon Taiwan 作品
            small 請投下您神聖的票
      - var x = 0
      - for (var i = 0; i < data.length; i++)
        - if( i %4 == 0 )
          .row
        label.col-md-3.portfolio-item.team-box(for="slideOne"+x+i)
          input(type="checkbox" value="None" id="slideOne"+x+i name="check")
          label.checkbox(for="slideOne"+x+i)
            i.glyphicon.glyphicon-thumbs-up.up
          a
            - if( data[i].imgURL )
              img.img-responsive(src= data[i].imgURL, alt='')
            - else
              img.img-responsive(src='http://placehold.it/750x450', alt='')
          .works-info
            = data[i].name

            = data[i].projectName
