extends layout

block content
  .container
      .row
        .col-lg-12
          h1.page-header
            | Hackathon Taiwan 作品 
            small 請投下您神聖的票
      .row
        .col-md-3.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/750x450', alt='')
          .works-info
            | 123test
        .col-md-3.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/750x450', alt='')
          .works-info
            | 123test
        .col-md-3.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/750x450', alt='')
          .works-info
            | 123test
        .col-md-3.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/750x450', alt='')
          .works-info
            | 123test
      .row
        .col-md-3.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/750x450', alt='')
          .works-info
            | 123test
        .col-md-3.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/750x450', alt='')
          .works-info
            | 123test
        .col-md-3.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/750x450', alt='')
          .works-info
            | 123test
        .col-md-3.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/750x450', alt='')
          .works-info
            | 123test
      .row
        .col-md-3.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/750x450', alt='')
          .works-info
            | 123test
        .col-md-3.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/750x450', alt='')
          .works-info
            | 123test
        .col-md-3.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/750x450', alt='')
          .works-info
            | 123test
        .col-md-3.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/750x450', alt='')
          .works-info
            | 123test
      .row
        .col-md-3.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/750x450', alt='')
          .works-info
            | 123test
        .col-md-3.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/750x450', alt='')
          .works-info
            | 123test
        .col-md-3.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/750x450', alt='')
          .works-info
            | 123test
        .col-md-3.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/750x450', alt='')
          .works-info
            | 123test
      .row
        .col-md-3.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/750x450', alt='')
          .works-info
            | 123test
        .col-md-3.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/750x450', alt='')
          .works-info
            | 123test
        .col-md-3.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/750x450', alt='')
          .works-info
            | 123test
        .col-md-3.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/750x450', alt='')
          .works-info
            | 123test
